.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  padding: 30px 55px;
  border-radius: 30px;
  gap: 15px;
}
.formTitle {
}

.formInput {
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
}
.changeableInputArea {
  display: flex;
  justify-content: space-between;
}
.button {
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.5;
  transition: 0.5s;
}
